h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

body {
	margin: 0;
	background-color: rgba(52, 73, 94,.6);

}

.today {
	background-color: rgba(236, 240, 241,.75);
	color: white;
	font-size:50pt;
	text-align: center;
}

.day {
	width: 90%;
	height: 80vh;
	margin: 10px auto 20px;
	background-color: rgba(52, 152, 219, .25)
}

.container {
	width:100%;
	height: 80vh;
	margin-top: 20px;

}

.hour {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(236, 240, 241,.75);
	color: rgba(127, 140, 141,1.0);
	text-transform: uppercase;
	font-size: 18px;
	width: 17%;
	height: 50px;
	float: left;
	margin: 5px;
	border: 2px solid rgba(127, 140, 141,1.0);
}

.content {
	background-color: rgba(236, 240, 241,.75);
	width: 80%;
	height: 50px;
	float: right;
	border: 2px solid rgba(127, 140, 141,1.0);
	margin: 5px;
}

